@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) { 
    .grid-items { 
        @apply bg-cover bg-no-repeat bg-center flex items-end !important;
        height: 500px !important; 
    }

    .bg-1 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-deep-earth.jpg);
    }

    .bg-2 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-night-arcade.jpg);
    }

    .bg-3 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-soccer-team.jpg);
    }

    .bg-4 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-grid.jpg);
    }

    .bg-5 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-from-above.jpg);
    }

    .bg-6 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-pocket-borealis.jpg);
    }

    .bg-7 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-curiosity.jpg);
    }

    .bg-8 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/desktop/image-fisheye.jpg);
    }

    .mobile-nav {
        @apply top-0 left-0 bg-transparent flex flex-1 justify-end items-center gap-10;
    }
}

@media (max-width: 768px) {
    .bg-1 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-deep-earth.jpg);
    }

    .bg-2 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-night-arcade.jpg);
    }

    .bg-3 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-soccer-team.jpg);
    }

    .bg-4 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-grid.jpg);
    }

    .bg-5 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-from-above.jpg);
    }

    .bg-6 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-pocket-borealis.jpg);
    }

    .bg-7 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-curiosity.jpg);
    }

    .bg-8 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/mobile/image-fisheye.jpg);
    }

    .mobile-nav {
        @apply h-full w-full fixed z-30 -top-full left-0 bg-loop-black overflow-x-hidden flex flex-col items-start justify-center pl-8 uppercase gap-5;
        transition: .5s;
    }

    .link-hover2 {
        @apply font-Josefin text-2xl !important;
    }
}

.bg-blur {
    position: relative;
}

.bg-blur:hover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6);
}

.grid-items {
    @apply bg-cover bg-no-repeat bg-center flex items-end w-full cursor-pointer;
    height: 200px;
}

.grid-items:hover h2 {
    @apply text-loop-black;
    opacity: 1 !important;
}

.link-hover {
    @apply text-loop-white font-Alata cursor-pointer text-sm relative;
}

.link-hover::before {
    content: "";
    @apply absolute w-full bg-loop-white -bottom-2 rounded;
    height: 3px;
    transition: .25s linear;
    transform: scaleX(0);
}

.link-hover:hover::before,
.link-hover:focus::before {
    transform: scaleX(1);
}

.mobile-nav.active {
    @apply top-0;
}

.menu-btn {
    @apply w-7 h-7 cursor-pointer;
}

.icon1 {
    background: url(../images/icon-hamburger.svg) no-repeat;
    @apply bg-center bg-cover w-full h-full;
    transition: .35s ease-in-out;
}

.icon2 {
    background: url(../images/icon-close.svg) no-repeat;
    @apply bg-center bg-cover w-full h-full;
    transition: .35s ease-in-out;
}
